body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .map-container {
    width: 1350px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  svg {
    width: 1350px;
    height: 1080px;
  }
  
  .text-container {
    margin-left: 1350px;
    width: 570px;
    padding: 2em;
    overflow-y: scroll;
    height: 100vh;
    box-sizing: border-box;
    background: #f8f8f8;
  }
  
  .step {
    margin-bottom: 100vh;
    font-size: 1.4em;
    line-height: 1.4em;
  }
  